@font-face {
        font-family: 'Gotham Medium';
        src: url('Gotham-Book.woff2') format('woff2'),
            url('Gotham-Book.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Gotham books';
        src: url('Gotham-Medium.woff2') format('woff2'),
            url('Gotham-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
}

html{
        scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
        font-family: 'Gotham Medium';
}

p,span,li,a{
        font-family: 'Gotham books'; 
}

.upper h2, .upper p,.btn1, .lower .btn2, .lower.arrow.uil{
        opacity: 0;
        visibility: hidden;
}

.logo{
        position: absolute;
        width: 115px;
        top: 20px;
        left: 35px;
}

.section{
        background-image: url(../images/ms-homepage-desktop.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
}

#slide1{
        background-image: url(../images/ms-homepage-desktop.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
}
#slide2{
        background-image: url(../images/bg2.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
}
#slide3{
        background-image: url(../images/bg3.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
}
#slide4{
        background-image: url(../images/ms-homepage-desktop.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
}


.nav2{
        position: absolute;
        top: 9px;
        right: 20px;
}
.upper{
        padding-top: 125px;
}

.upper h2{
        font-size: 45px;
        margin-bottom: 0.8rem;
        font-weight: 1000;
}

.upper p a{
        font-size: 16px;
        color: black;
        font-weight: lighter;
        margin-top: 10px;
}



.navbar-nav{
        gap: 1.2rem;
}

.navbar-light .navbar-nav .nav-link{
        color: black;
        margin-left: 3px;
        margin-right: 3px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 13px;
        letter-spacing: 1px;
}

.lower{
        position: absolute;
        bottom: 20px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
}

.lower .btn1{
        background-color: rgba(23, 26, 32, 0.8);;
        color: white;
        padding: 12px 85px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 12px;        
        display: inline-block;
        margin: 0 8px;
        text-align: center;
        width: 280px;
}

.lower .btn2{
        background-color:rgba(244, 244, 244, 0.65);;
        color: black;
        padding: 12px 85px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 12px;
        margin-left: 12px;
        display: inline-block;
        margin: 0 8px;
        text-align: center;
        width: 280px;
        
}
.arrow{

     margin-top: 30px;   
     margin-bottom: -20px;
        
}
.arrow i{
        font-size: 2.5rem;
        color: black;
        font-weight: lighter;
        display: inline-block;
}

.fp-table{
        display: block;
}
@media only screen and (max-width:990px){
.logo{
        position: absolute;
        width: 100px;
        top: 20px;
        left: auto;
        right: 20px;
}        
}